
.single-page .breadcrumbs a:hover {
    color: #333333;
}
main.single-page .team__background{
    display: none;
}
main.single-page .team h2 {
    padding-top: 0;
}
main.single-page section{
    margin-top: 40px;
}
main.single-page .top__banner.page__banner{
    margin-top: 0px;
}
.page__title{
    position: relative;
    margin-top: 40px;
    padding-bottom: 116px;
}
.page__title > div{
    position: absolute;
    top: 0;
    padding: 20px 40px;
    background: rgba(71, 65, 60, 0.46);
    padding-left: calc((100% - 1440px)/2 );

}
.training__template .page__title > div{
    background: #696561;
}
.single-page .page__title h2{
    font-family: Playfair Display;
    font-style: normal;
    font-weight: normal;
    font-size: 50px;
    line-height: 130%;
    color: #FFFFFF;
    margin: 0;
    padding: 0 10px 0;
}
section.page__inner{
    margin-top: 40px;
}
.page__inner .container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.page__inner .page__card{
    display:flex;
    position: relative;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 32%;
    height: 200px;
    margin-bottom: 20px;
    padding: 10px;
    background: rgba(248, 244, 241, 0.7);
    transition: background 0.2s linear;
    text-decoration: none;
}
.page__card span.card__title{
    font-family: Playfair Display;
    font-weight: 400;
    font-size: 30px;
    line-height: 40px;
    color: #171717;
}
.page__card img{
    display:flex;
    position: absolute;
    top:0;
    right: 0;
    z-index: -9;
    object-fit: cover;
    width: 100%;
    height: 100%;
}
.page__card:hover,
.page__card:focus,
.page__card:active,
.page__card:visited
{
    background: rgba(238, 205, 132, 0.8);
}
.page__card .card__caption{
    display: none;
    margin: 0;
    padding: 0;
    width: 100%;
    text-align: center;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    color: #333333;
}
.page__card ul{
    padding: 0;
    -webkit-column-count: 2;
    -moz-column-count: 2;
    column-count: 2;
    width: 100%;
    list-style-type: none;
    text-align: center;
}

.page__card:hover span.card__title{
    display: none;
}
.page__card:hover .card__caption{
    display: block;
}
@media (max-width: 1024px) {
    .page__title {
        padding-bottom: 0;
    }

    .page__title > div{
        position: initial;
    }
    .page__title h2 {
        font-size: 45px;
        padding-left: 10px;
    }
}
@media (max-width: 768px) {
    .page__inner .page__card{
        width: 100%;
    }
    .page__title > div{
        padding: 10px 0;
    }
    .page__title h2 {
        padding: 0;
        font-size: 30px;
        text-align: center;
    }
    .page__card span.card__title {
        font-size: 22px;
        line-height: 130%;
    }
    .single-page .page__title h2{
        font-size: 30px;
        line-height: 130%;
        text-align: center;
    }
}


/* Page banner
****************************/
.single-page .top__banner {
    background: rgba(71, 65, 60, 0.81);
}

.page__banner .top__banner__img{
    width: auto;
    display: flex;
}
.page__banner .top__banner__inner {
    justify-content: flex-end;
    min-height: 500px;
}
.page__banner .top__banner__text > div > span.banner__sub__description{
    font-size: 16px;
    line-height: 130%;
    color: #EFEFEF;
}
.page__banner.post__banner .top__banner__inner{
    justify-content: flex-start;
}
.page__banner.post__banner .container,
.page__banner.post__banner .top__banner__text{
    position: initial;
}
.page__banner.post__banner{
    position: relative;
}
.page__banner.post__banner .top__banner__text{
    margin: 70px 0;
}
.page__banner.post__banner .top__banner__img{
    position: absolute;
    top: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 50%;
}
.page__banner.post__banner .top__banner__img > div{
    height: 75%;
    width: 100%;
    text-align: right;
    overflow: hidden;
}
.page__banner.post__banner .top__banner__img  img{
    width: auto;
    object-fit: cover;
    border-top-left-radius: 255px;
    border-bottom-left-radius: 255px;
    background: #EFC465;
}
.page__banner.post__banner .top__banner__img.full_image > div{
    height: 100%;
    width: 100%;
    text-align: right;
    overflow: hidden;
}
.page__banner.post__banner .top__banner__img.full_image img {
    border-radius: unset;
    background: none;
}
.page__banner .top__banner__text {
    right: unset;
    left: 10px;
}
.page__banner .top__banner__text > div{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.page__banner .breadcrumbs{
    margin: 20px 0;
}
.page__banner .top__banner__text > div > span{
    font-size: 22px;
    line-height: 130%;
    color: #FFFFFF;
    justify-content: flex-start;
    margin: 20px 0 0;
}
.page__banner .widget__callback{
    margin: 40px 0 20px;
}
.breadcrumbs{
    font-size: 16px;
    line-height: 20px;
}
.breadcrumbs a{
    color: #898989;
    transition: color 0.2s linear;
    text-decoration: none;
}
.breadcrumbs a:hover{
    color: #ffffff;
}

.breadcrumbs span.breadcrumbs__current{
    color: #ffffff;
}
.text__dark .breadcrumbs span.breadcrumbs__current{
    color: #333333;
}
.text_dark .breadcrumbs a:hover {
    color: #333333;
}
.text__light .breadcrumbs span.breadcrumbs__current {
    color: #ffffff;
}
.text__light .breadcrumbs a:hover {
    color: #ffffff;
}
.page__banner form{
    display: flex;
    flex-width: wrap;
    margin-top: 15px;
}
.page__banner .widget__callback span{
    font-size: 16px;
    line-height: 130%;
    color: #EFEFEF;
}
.page__banner .widget__callback span.price_from{
    display: flex;
    font-weight: 600;
    font-size: 22px;
    color: #FFFFFF;
    margin-bottom: 25px;
}
.page__banner .widget__callback .form-item:first-child{
    margin-right: 25px;
}
.page__banner .widget__callback select{
    width: 100%;
    font-family: Montserrat;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    color: #171717;
    padding: 15px 20px;
}
.page__banner .widget__callback select option[selected] {
    font-weight: bold;
    color: #F0C76C;
}
.page__banner .widget__callback [type="submit"]{
    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    color: #333333;
    max-width: 335px;
}
.page__banner .sub__description{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.page__banner .sub__description > div{
    display: flex;
    flex-direction: column;
    padding-bottom: 20px;
}
.page__banner .title__column{
    font-family: Playfair Display;
    font-style: normal;
    font-weight: bold;
    font-size: 25px;
    line-height: 130%;
    color: #F0C76C;
    padding-bottom: 10px;
}
.page__banner .description__column{
    font-size: 16px;
    line-height: 130%;
    color: #FFFFFF;
}
.page__banner .request__link{
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    color: #171717;
    background: linear-gradient(180deg, #F0C76C 26.36%, #EBAC21 145.45%);
    justify-content: center;
}
@media (max-width: 1024px) {
    .page__banner .widget__callback {
        position: initial;
        margin-top: 20px;
    }
    .page__banner .top__banner__img {
        z-index: -1;
    }
    .page__banner .top__banner__text {
        margin-left: 10px;
    }
    .breadcrumbs a {
        color: #ffffff;
    }
    .page__banner .top__banner__text {
        width: 80%;
    }
}
@media (max-width: 768px) {
    .page__banner .top__banner__inner {
        min-height: 650px;
    }
    .page__banner .sub__description {
        justify-content: center;
    }
    .top__banner__img {
        left: 0;
        margin-left: 0;
    }
    .page__banner .top__banner__text {
        width: 100%;
        margin-top: 0;
    }
    .page__banner.post__banner .top__banner__img{
        width: 100%;
    }
    .page__banner.post__banner .top__banner__img > div{
        height: auto;
    }
    .breadcrumbs a {
        color: #b8b8b8;
    }
    .breadcrumbs a:hover {
        color: #333333;
    }
}
/* Page block - slider Gesichtspflege .
****************************/
.single-page h2{
    font-family: Playfair Display;
    font-style: normal;
    font-weight: normal;
    font-size: 50px;
    line-height: 67px;
    color: #343230;
    margin: 0 0 20px;
}
.single-page h2 point{
    color: #EBAC21;
}
.slider__procedure .container{
    position: relative;
}
.slider__inner div{
    display: flex !important;
}
.slider__inner{
    width: 100%;
}
.slider__item > div{
    width: 50%;
}
.slider__img{
    width: 100%;
}
.slider__img img{
    width: 100%;
    object-fit: cover;
    height: 100%;
}
.slider__content{
    padding-left: 35px;
    padding-top: 40px;
    display: flex;
    flex-direction: column;
}
.slider__inner__text{
    justify-content: flex-start;
    text-align: left;
    flex-direction: column;
}
.slider__inner__text h2 {

}
.slider__inner__text span{
    font-size: 16px;
    line-height: 160%;
    color: #171717;
    margin-top: 20px;
}
.slider__inner__nav{
    display: flex;

}
.slider__procedure .slider__nav {
    margin-top: -150px;
    justify-content: center;
    padding-left: 150px;
    position: absolute;
    width: 100%;
}
/*
.slider__procedure .slider__nav{
    justify-content: flex-start;
}*/
@media (max-width: 1200px) {
    .slider__procedure .slider__nav {
        margin-top: unset;
    }
}
@media (max-width: 1024px) {
    .single-page h2{
        font-size: 45px;
        line-height: 60px;
    }
    .slider__inner .slick-list {
        padding: 0!important;
    }
    .slider__img img {
        object-fit: cover;
        height: 100%;
    }
}
@media (max-width: 768px) {

    .single-page h2{
        font-size: 30px;
        line-height: 130%;
        text-align: center;
    }
    .slider__inner {
        padding-bottom: 40px;
    }
    .slider__item{
        flex-direction: column;
    }
    .slider__item > div {
        width: 100%;
    }
    .slider__img{
        order: 2;
    }
    .slider__content {
        padding: 0 0 20px 0;
    }
    .slider__inner__text span {
        text-align: center;
    }
}
/* Page block - Apparate
****************************/
main.single-page section.apparate{
    position: relative;
    margin-top: -100px;
}
.apparate__inner{
   flex-wrap: wrap;
    display: flex;
    justify-content: space-between;
}
.apparate__img{
    display: flex;
    width: 24%;
    margin: 10px 0;
}
.apparate__img:nth-child(4n-3),
.apparate__img:nth-child(4n){
    height: 276px;
}
.apparate__img:nth-child(4n-2){
    height: 430px;
}
.apparate__img:nth-child(4n-1){
    height: 350px;
}
.apparate__img a{
    width: 100%;
}
.apparate__img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.apparate__background{
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    background: #F0C76C;
    width: 80%;
    height: 580px;
}
.apparate h2 {
    text-align: left;
    padding-top: 200px;
}
@media (max-width: 1024px){
    main.single-page section.apparate{
        margin-top: 40px;
    }
    .apparate h2 {
        padding-top: 40px;
    }
    .apparate__background {
        width: 100%;
    }
    .apparate__img{
        width: 49%;
        height: 300px !important;
    }
}
@media (max-width: 768px){
    .apparate__background {
        width: 95%;
        height: 1450px;
    }
    .apparate h2 {
        padding-top: 20px;
    }
    .apparate__img a{
        width: 100%;
    }
    .apparate__img{
        width: 100%;
        height: auto !important;
    }
}
/* Page block - Procedure tabs
****************************/
.tabset > input[type="radio"] {
    position: absolute;
    left: -200vw;
}
.tabset .tab-panel {
    display: none;
}
.tabset > input:first-child:checked ~ .tab-panels > .tab-panel:first-child,
.tabset > input:nth-child(3):checked ~ .tab-panels > .tab-panel:nth-child(2),
.tabset > input:nth-child(5):checked ~ .tab-panels > .tab-panel:nth-child(3),
.tabset > input:nth-child(7):checked ~ .tab-panels > .tab-panel:nth-child(4),
.tabset > input:nth-child(9):checked ~ .tab-panels > .tab-panel:nth-child(5),
.tabset > input:nth-child(11):checked ~ .tab-panels > .tab-panel:nth-child(6) {
    display: block;
}
.tabset > label {
    position: relative;
    display: inline-block;
    margin: 0 15px 10px 0;
    cursor: pointer;
    font-size: 25px;
    line-height: 130%;
    color: #171717;
    padding-bottom: 2px;
    border-bottom: 1px solid #000000;
    text-transform: uppercase;
}
.tabset > label:hover,
.tabset > input:focus + label {
    color: #F0C76C;
    border-color: #F0C76C;
}
.tabset > input:checked + label {
    color: #F0C76C;
    border-color: #F0C76C;
}
main.single-page section.tab-panel{
    margin-top: 0;
}
.tab-panel {
    padding: 30px 0;
    font-size: 20px;
    line-height: 160%;
    color: #000000;
}
.tab-panel ul{
    padding: 0;
    margin: 0;
    list-style: none;
}
.tab-panel ul li{
    padding: 8px 0;
}
.tab-panel ul li:before {
    content: '';
    display: inline-block;
    height: 9px;
    width: 38px;
    background-image: url(../images/icons/icon-arrow-next-gold.svg);
    background-size: contain;
    background-repeat: no-repeat;
    padding-left: 2.5em;
}

.bafg-twentytwenty-container.twentytwenty-container{
    /**/min-height: 400px !important;
    max-width: 50% !important;
}
@media (max-width: 768px){
    .bafg-twentytwenty-container.twentytwenty-container{
        /**/min-height: 100% !important;
        max-width: 100% !important;
    }
}
/**/
.prices{
    position: relative;
}
.prices h2{
    padding: 25px 0 45px;
}
.prices__inner{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.price__item{
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    border-bottom: 2px solid #ffffff;
}
.price__procedure{
    width: 70%;
    padding: 20px;
    background: #9D9A98;
    font-size: 23px;
    line-height: 28px;
    color: #FFFFFF;
}
.price__cost{
    width: 30%;
    text-align: center;
    padding: 20px;
    background: #F0C76C;
    font-size: 23px;
    line-height: 28px;
    color: #171717;
}
.prices__button{
    display: flex;
    margin-top: 45px;
    justify-content: center;
    align-items: center;
}
.request__link{
    display: flex;
    max-width: 335px;
    height: 55px;
    background: #343230;
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    color: #FFFFFF;
    text-decoration: none;
    align-items: center;
    padding: 0 40px;
    transition: box-shadow 0.2s linear;
}
.request__link:hover{
    box-shadow: 0px 4px 13px rgba(0, 0, 0, 0.5);
}

.request__link:active{
    background: #FFFFFF;
    border: 1px solid #000000;
    color: #171717;
}
.prices__background{
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    width: 45%;
    height: 600px;
    background: #E0DCD6;
}
.price__cost span{
    display:none;
}
.prices__inner.table__type{
    margin-top:20px;
}
.table__head {
    border-bottom:1px solid #ffffff;
}
.table__head .price__procedure,
.table__head .price__cost{
    background:#343230;
    color:#ffffff;
}
@media (max-width: 768px){
    .price__item{
        width: 100%;
        flex-wrap: wrap;
        margin-bottom: 20px;
        text-align: center;
    }
    .price__procedure{
        width: 100%;
    }
    .price__cost{
        width: 100%;
    }
    .prices h2{
        padding: 25px 0;
    }
    .prices__button {
        margin-top: 25px;
    }
    .prices__background{
        width: 80%;
        height: 670px;
    }
    .price__item.table__head{
        display:none;
    }
    .price__cost span{
        display:flex;
        font-weight:bold;
        font-size:24px;
    }
    .table__type .price__cost {
        display: flex;
        justify-content: space-between;
    }
}


#contact_form_pop.widget__callback{
    margin-top: 0;
}
#contact_form_pop.widget__callback form{
    flex-direction: column;
}
#contact_form_pop.widget__callback form > div{
    height: 100%;
}
#contact_form_pop.widget__callback form .form-item.field-middle {
    padding:0;
}

#contact_form_pop.widget__callback  input{
   /* height: 55px;*/
    width: 280px;
}
#contact_form_pop.widget__callback .wpcf7-form-control-wrap{
    flex-direction: column;
}
#contact_form_pop.widget__callback .wpcf7-not-valid-tip{
    display: none;
}
#contact_form_pop.widget__callback .wpcf7-not-valid{
    border:2px solid red;
}
#contact_form_pop.widget__callback h2{
    text-align: center;
}
#contact_form_pop.widget__callback input[type="button"]{
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    color: #333333;
    max-width: 335px;
    background: linear-gradient(
            180deg, #F0C76C 26.36%, #EBAC21 145.45%);
}
.nf-response-msg {
    text-align: center;
}
#contact_form_pop.widget__callback .nf-form-content{
    width: auto;
}
#contact_form_pop.widget__callback nf-fields-wrap{
    flex-direction: column;
}
#contact_form_pop.widget__callback nf-fields-wrap nf-field:nth-child(2) {
    padding:0;
}
.widget__callback [type="button"]:hover,
.widget__callback [type="button"]:active,
.widget__callback [type="button"]:focus,
.widget__callback [type="button"]:visited{
    background: #FFD882;
    box-shadow: 0px 4px 25px rgb(240 199 108 / 70%);
}
.widget__callback [type="submit"] {
    width: 100%;
    font-size: 18px;
    background: linear-gradient(
            180deg, #F0C76C 26.36%, #EBAC21 145.45%);
    transition: background 0.2s linear;
    transition: box-shadow 0.2s linear;
    border: 0;

}
@media (max-width: 768px){
    #contact_form_pop.widget__callback {
        padding: 0;
    }
}
/* Section Benefits
****************************/
.benefits{
    background: rgba(71, 65, 60, 0.46);
    padding: 100px 0;
    position: relative;
    z-index: -2;
}
.benefits .section__inner{
    flex-wrap: wrap;
}
.benefits h2{
    font-size: 50px;
    line-height: 130%;
    color: #FFFFFF;
    margin-bottom: 40px;
}
.benefits h3{
    font-weight: 500;
    font-size: 20px;
    line-height: 130%;
    color: #000000;
    margin: 25px 0 10px;
}
.benefit__content{
    font-size: 16px;
    line-height: 130%;
    color: #6B6B6B;
}
.benefit__card{
    display: flex;
    flex-direction: column;
    padding: 30px;
    margin-right: 25px;
    background: #ffffff;
    max-width: 260px;
    margin-bottom: 25px;
}
.benefit__card img{
    width: 27px;
    height: auto;
}
.benefits__image{
    position: absolute;
    top: 0;
    right: 0;
    z-index: -1;
    display: flex;
    height: 100%;
    justify-content: flex-end;
}

@media (max-width: 1024px){
    .benefits .section__inner {
        flex-direction: unset;
        justify-content: center;
    }
    .benefits{
        z-index: unset;
    }
}
@media (max-width: 768px){
    .benefits{
        padding: 40px 0;
    }
    .benefit__card{
        max-width: 100%;
        margin-right: 0;
    }
}
/* Section More about Training
****************************/
.more__training{
    margin-top: 40px;
    position: relative;
}
.more__training .container{
    display: flex;
    flex-direction: column;
}

.more__training__info{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}
.more__training__text{
    display: flex;
    width: 50%;
    line-height: 160%;
    color: #171717;
    flex-direction: column;
}
.more__training_data{
    display: flex;
    width: 50%;
    justify-content: center;
    padding: 0 100px;
    flex-wrap: wrap;
}
.training__data__item{
    display: flex;
    flex-direction: column;
    text-align: left;
    width: 50%;
}
.data__counter{
    font-family: Playfair Display;
    font-style: normal;
    font-weight: bold;
    font-size: 80px;
    line-height: 130%;
    color: #F0C76C;
    margin-bottom: 15px;
}
.description__counter{
    font-weight: 500;
    font-size: 20px;
    line-height: 130%;
    color: #FFFFFF;
}
.more__training__slider .slick-list {
    padding: unset !important;
}
.training__slider__image{
    display: flex;
    width: 100%;
}
.more__training__slider{
    width: 100%;
    margin-top: 20px;
}
.training__slider__image{
    display: flex;
    justify-content: center;
}
.training__slider__image img{
    width: 100%;
    height: 650px;
    object-fit: cover;
}
.more__training__background{
    background: rgba(71, 65, 60, 0.81);
    position: absolute;
    width: 50%;
    height: 1600px;
    top: 0;
    right: 0;
    z-index: -1;
}
.more__training .slider__nav {
    justify-content: flex-start;
    margin-top: 25px;
}
.more__training__arrows{
    display: flex;
}
@media (max-width: 1200px){
    .more__training_data{
        padding: 0 40px;
    }
}
@media (max-width: 1024px){
    .data__counter{
        font-size: 50px;
    }
}
@media (max-width: 991px){
    .more__training__text{
        width: 100%;
    }
    .more__training_data {
        width: 100%;
        background: rgba(71, 65, 60, 0.81);
        padding: 40px;
    }
    .more__training__background{
        display: none;
    }
    .training__slider__image img{
        height: 450px;
    }
}
@media (max-width: 768px){
    .training__data__item {
        text-align: center;
        width: 100%;
        padding: 20px 0;
    }
    .training__slider__image img{
        height: 300px;
    }
}
/* Post Course Section Course Tabs
****************************/
.program__row{
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 20px;
}
.program__column{
    background: rgba(204, 196, 186, 0.4);
    padding: 30px;
    width: 77%;
}
.program__column:first-child{
    width: 20%;
    margin-right: 3%;
    text-align: center;
}
.program__day{
    font-weight: 500;
    font-size: 25px;
    line-height: 130%;
    text-transform: uppercase;
    color: #171717;
}
.program__title{
    font-weight: 600;
    font-size: 22px;
    line-height: 130%;
    color: #333333;
}
.schedule__row{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 20px 15px;
}
.schedule__row span{
    font-size: 20px;
    line-height: 24px;
    color: #171717;
}
.schedule__row:nth-child(2n){
    background: #F0C76C;
}
.schedule__row:nth-child(2n+1){
 border-bottom: 1px solid #F0C76C;
}
.btn__light{
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    color: #171717;
    background: linear-gradient(
            180deg, #F0C76C 26.36%, #EBAC21 145.45%);
    justify-content: center;
}
.group__buttons{
    display: flex;
    flex-wrap: wrap;
    margin-top: 25px;
}
.group__buttons a{
    margin-right: 15px;
    max-width: 335px;
    width: 100%;
    justify-content: center;
}
.diplomas{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}
.diplomas > div{
    width: 24%;
    justify-content: center;
    display: flex;
    margin-bottom: 30px;
}
@media (max-width: 991px){
    .diplomas > div{
        width: 32%;
    }
}
@media (max-width: 768px){
    .program__column,
    .program__column:first-child{
        width: 100%;
        margin-right: 0;
        margin-bottom: 10px;
    }
    .program__title{
        text-align: center;
    }
    .schedule__row{
        flex-direction: column;
    }
    .group__buttons{
        justify-content: center;
    }
    .group__buttons a{
        margin: 15px 0;
    }
    .schedule__row span{
        padding: 5px 0;
    }
    .diplomas > div{
        width: 49%;
    }
}
@media (max-width: 479px){
    .diplomas > div{
        width: 100%;
    }
}
/* Category Für Sie
**********************/
.page__title.wide__bg > div{
    background: #F0C76C;
}
.single-page .page__title.wide__bg h2{
    color: #171717;
}
.fur__sie .page__inner .container{
    display: flex;
    flex-direction: column;
}
.page__cards{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
}
section.page__inner{
    position: relative;
}
.page__inner h2{
    padding-top: 30px;
}
.title__bg{
    position: absolute;
    top: 0;
    left: 0;
    z-index: -10;
    background: #F0C76C;
    width: 25%;
    height: 80%;
}
.fur__sie .page__inner .page__card{
    padding: 0;
}
.fur__sie .page__card > div{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #ffffff;
    z-index: -9;
}

@media (max-width: 768px){
    .title__bg{
        width: 80%;
    }
}
/* Page Unser Team
***************************/
main.single-page.our__team .team__background{
    display: flex;
    width: calc(calc((100% - 1440px)/2 ) + 300px);
    height: 130%;
}
.our__team .breadcrumbs span.breadcrumbs__current {
    color: #333333;
}
.our__team .breadcrumbs a{
    color:#b8b8b8;
}
.our__team .breadcrumbs a:hover {
    color: #333333;
}
.our__team .team .container{
    position: relative;
}
.our__team .team .slider__nav {
    position: absolute;
    top: 40px;
    right: 0;
}
.our__team .team__item.selected{
    margin-top: -40px;
}
.our__team .team .slick-list{
    padding-top: 50px;
}
.member__team{

}
.member__team .contaner{

}
.member__inner{
    display: flex;
    width: 100%;
    flex-wrap: wrap;
}
.member__img{
    display: flex;
    width: 35%;
}
.member__img img{
    object-fit: contain;
    width: 100%;
    height: 100%;
}
.member__description{
    display: flex;
    width: 65%;
    flex-direction: column;
}
.member__text{
    display: flex;
    flex-direction: column;
    padding-left: 30px;
}
.member__text h2{

}
.member__job{
    font-size: 20px;
    line-height: 130%;
    color: #686868;
    margin-bottom: 45px;
}
.member__content{

}
.member__counter{
    display: flex;
    justify-content: space-between;
    padding: 0 45px;
    flex-wrap: wrap;
    position: relative;
}
.member__counter__item{
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 33%;
}
.our__team_background{
    position: absolute;
    background: rgba(71, 65, 60, 0.81);
    height: 400px;
    width: calc( 100% + (98vw - 1440px)/2 );
    z-index: -9;
    left: 0;
}
.diplomas__img{
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.diplomas__img a{
    display: flex;
    width: 24%;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}
.areas__activity.page__inner h2{
    padding-top: 0;
}
@media (max-width: 1440px){
    .our__team_background{
        width: 100%;
    }
}
@media (max-width: 1200px){
    .data__counter{
        font-size: 50px;
    }
}
@media (max-width: 991px){
    .member__counter__item,
    .diplomas__img a{
        width: 50%;
        margin-bottom: 20px;
    }
    .member__img{
        width: 100%;
    }
    .member__description{
        width: 100%;
    }
    .our__team_background{
       height: 100%;
    }
}
@media (max-width: 768px){
    .member__counter__item,
    .diplomas__img a{
        width: 100%;
    }
    .member__job{
        text-align: center;
    }
    .areas__activity.page__inner .container{
        justify-content: center;
    }

}
/* Page Contacts
****************************/
.page__contacts{
    display: flex;
    flex-direction: column;
    background: rgba(71, 65, 60, 0.81);
}
.section__contacts{
    text-align: center;
    color: #FFFFFF;
}
.section__contacts h2{
    color: #FFFFFF;
}
.content__contacts{
    font-weight: 500;
    font-size: 24px;
    line-height: 130%;
    color: #FFFFFF;
}
.contact__map .container{
    position:relative;
    padding:0;
    z-index:99;
}
.contact__inner{
    display:flex;
    justify-content: space-between;
    padding:80px 10px;
    position:absolute;
    width:100%;
    align-items:center;
}
.contact__inner > div{
    margin-bottom:20px;
}
.contact__inner__info{
    display:flex;
    padding:50px 35px;
    background: #F0C76C;
    max-width:436px;
    margin-right: 10px;
}
.contact__inner__info .contacts__info {
    flex-direction: column;
    align-items: flex-start;
    padding: 0 25px;
    text-align: left;
}
.contact__inner__form{
    padding:50px 35px;
    display:flex;
    background: #BCB2AA;
    max-width:482px;
}
.contact__inner__form .widget__callback{
    margin-top:unset;
}
.contact__inner__form .widget__callback nf-fields-wrap nf-field:nth-child(2) {
    padding-left: 0;
    padding-right: 0;
}
.contact__inner__form .widget__callback form nf-field{
    margin-bottom:10px
}
.contact__inner__form .widget__callback form nf-fields-wrap{
    flex-direction: column;
}
#map{
    width: 100%;
    height: 536px;
}
#map img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

@media (max-width: 1024px){
    .contact__inner__form .widget__callback{
        position:initial;
    }
}
@media (max-width: 768px){
    .contact__inner{
        position: initial;
        flex-direction: column;
        justify-content: center;
        padding: 0 0 20px;
    }
    .contact__inner > div {
        max-width: 100%;
        width: 100%;
    }
    .contact__inner__info{
        margin-bottom: 20px;
        margin-right:0;
        padding:20px 0;
    }
    .contact__inner__form {
        padding: 20px 0;
    }
}
