/**
Theme Name: H374
Version: 1.0
Author: Romspika
*/
body {
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 130%;
    color: #333333;
}
.swal-overlay{
    z-index: 1000000;
}
*,
*:after,
*:before{
    box-sizing: border-box;
}
.container{
    width: 100%;
    max-width: 1460px;
    margin: 0 auto;
    padding: 0 10px;
}
/**/section h2 point{
    color: #EBAC21;
}
input[type=text]::-ms-clear {  display: none; width : 0; height: 0; }
input[type=text]::-ms-reveal {  display: none; width : 0; height: 0; }
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration { display: none; }


.btn__light:hover,
.more__button a:hover{
    background: linear-gradient(180deg, #F0C76C 26.36%, #EBAC21 145.45%);
    box-shadow: 0px 4px 25px rgba(240, 199, 108, 0.7);
}
.widget__callback [type="submit"]:active,
.widget__callback [type="submit"]:focus,
.widget__callback [type="submit"]:visited,
.btn__light:active,
.btn__light:focus,
.btn__light:visited,
.more__button a:active,
.more__button a:focus,
.more__button a:visited{
    background: #FFD882;
}

.header__social .social__icon:hover,
footer .widget__social .social__icon:hover{
    fill: #FEFEFE;
    box-shadow: 0px 4px 13px rgba(255, 255, 255, 0.6);
    border-radius: 6px;
}
.breadcrumbs a {
    color: #b8b8b8;
    text-decoration: none;
    transition: color 0.2s linear;
}
.breadcrumbs a:hover{
    color: #333333;
}
.breadcrumbs span.breadcrumbs__current {
    color: #333333;
}
/* Header
****************************/
header,
footer{
    background: #343230;
}
.header__inner{
    display: flex;
    justify-content: space-between;
    padding: 30px 0;
}
.header__logo{
    width: 16%;
    display: flex;
    align-items: center;
}
.logo__link{
    margin: 0;
    padding: 0;
    line-height: 0;
}
.header__logo img{
    width: 112px;
    height: 72px;
}
header .social__icon,
.contacts__info .social__icon{
    display: block;
    height: 26px;
    width: 26px;
    transition: fill .2s linear;
    transition: box-shadow 0.2s linear ;
    fill: #F0C76C;
}
.header__social, .contacts__info{
    display: flex;
    align-items: center;
}
.header__social a{
    margin-right: 10px;
}
.header__contact > a,
.header__contact > span,
.contacts__info > a,
.contacts__info > span{
    display: flex;
    align-items: center;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    color: #FFFFFF;
    text-decoration: none;
}
.header__contact > a svg,
.header__contact > span svg,
.contacts__info > a svg,
.contacts__info > span svg{
    margin-right: 10px;
}
.header__top{
    display: flex;
    flex-direction: column;
    width: 100%;
}

.header__contact{
    display: flex;
    justify-content: space-between;
}
/* Header menu
**************************/
.header_menu{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header__nav{
    display: flex;
    align-items: center;
}
.header__mobile__logo{
    display: none;
}
.header__mobile__logo img{
    width: 74px;
    height: 55px;
}
.header__nav ul{
    display: flex;
    flex-wrap: wrap;
    padding: 0;
    width: 100%;
    list-style-type: none;
}
.header__nav ul li{
    padding-right: 25px;
}
.nav__link{
    font-size: 18px;
    line-height: 22px;
    text-decoration: none;
    color: #ffffff;
    opacity: .7;
    transition: opacity .1s linear;
}
.nav__link:hover,
.nav__link.active{
    opacity: 1;
}

/* top menu */
#cssmenu,
#cssmenu ul,
#cssmenu ul li,
#cssmenu ul li a,
#cssmenu #menu-button {
    margin: 0;
    padding: 0;
    border: 0;
    list-style: none;
    display: block;
    position: relative;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
#cssmenu .mobile-menu-info{
    display: none;
}
#cssmenu:after,
#cssmenu > ul:after {
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0;
}
#cssmenu #menu-button {
    display: none;
}

#cssmenu > ul > li {
    float: left;
}
#cssmenu.align-center > ul {
    font-size: 0;
    text-align: center;
}
#cssmenu.align-center > ul > li {
    display: inline-block;
    float: none;
}
#cssmenu.align-center ul ul {
    text-align: left;
}
#cssmenu.align-right > ul > li {
    float: right;
}
#cssmenu > ul > li > a {
    padding: 12px;

}
#cssmenu > ul > li:hover > a {
    color: #ffffff;
}
#cssmenu > ul > li.has-sub > a {
    padding-right: 30px;
}
#cssmenu > ul > li.has-sub > a:after {
    position: absolute;
    top: 22px;
    right: 11px;
    width: 7px;
    height: 2px;
    display: block;
    background: #dddddd;
    content: '';
}
#cssmenu > ul > li.has-sub > a:before {
    position: absolute;
    top: 19px;
    right: 14px;
    display: block;
    width: 2px;
    height: 7px;
    background: #dddddd;
    content: '';
    -webkit-transition: all .25s ease;
    -moz-transition: all .25s ease;
    -ms-transition: all .25s ease;
    -o-transition: all .25s ease;
    transition: all .25s ease;
}
#cssmenu > ul > li.has-sub:hover > a:before {
    top: 23px;
    height: 0;
}


#cssmenu ul ul {
    position: absolute;
    left: -9999px;
    background: #343230;
    z-index: 9999;
}
#cssmenu.align-right ul ul {
    text-align: right;
}
#cssmenu ul ul li {
    height: 0;
    -webkit-transition: all .25s ease;
    -moz-transition: all .25s ease;
    -ms-transition: all .25s ease;
    -o-transition: all .25s ease;
    transition: all .25s ease;
}
#cssmenu li:hover > ul {
    left: auto;
    width: auto;
    min-width: 270px;
}
#cssmenu.align-right li:hover > ul {
    left: auto;
    right: 0;
}
#cssmenu li:hover > ul > li {
    height: 100%;
}
#cssmenu ul ul ul {
    margin-left: 100%;
    top: 0;
}
#cssmenu.align-right ul ul ul {
    margin-left: 0;
    margin-right: 100%;
}
#cssmenu ul ul li a {
    /*border-bottom: 1px solid rgba(150, 150, 150, 0.15);*/
    padding: 11px 15px;
    width: 270px;

}
#cssmenu ul ul li:last-child > a,
#cssmenu ul ul li.last-item > a {
    border-bottom: 0;
}
#cssmenu ul ul li:hover > a,
#cssmenu ul ul li a:hover {
    color: #ffffff;
}
#cssmenu ul ul li.has-sub > a:after {
    position: absolute;
    top: 16px;
    right: 11px;
    width: 8px;
    height: 2px;
    display: block;
    background: #dddddd;
    content: '';
}
#cssmenu.align-right ul ul li.has-sub > a:after {
    right: auto;
    left: 11px;
}
#cssmenu ul ul li.has-sub > a:before {
    position: absolute;
    top: 13px;
    right: 14px;
    display: block;
    width: 2px;
    height: 8px;
    background: #dddddd;
    content: '';
    -webkit-transition: all .25s ease;
    -moz-transition: all .25s ease;
    -ms-transition: all .25s ease;
    -o-transition: all .25s ease;
    transition: all .25s ease;
}
#cssmenu.align-right ul ul li.has-sub > a:before {
    right: auto;
    left: 14px;
}
#cssmenu ul ul > li.has-sub:hover > a:before {
    top: 17px;
    height: 0;
}


@media all and (max-width: 1024px){
    /*.header__nav  .top__menu{
        top: 140px;
        padding-top: 0;

    }*/
}

@media all and (max-width: 768px), only screen and (-webkit-min-device-pixel-ratio: 2) and (max-width: 1024px), only screen and (min--moz-device-pixel-ratio: 2) and (max-width: 1024px), only screen and (-o-min-device-pixel-ratio: 2/1) and (max-width: 1024px), only screen and (min-device-pixel-ratio: 2) and (max-width: 1024px), only screen and (min-resolution: 192dpi) and (max-width: 1024px), only screen and (min-resolution: 2dppx) and (max-width: 1024px) {
    #cssmenu {
        width: 100%;
    }
    #cssmenu .nav__link {
        opacity: .9;
    }
    #cssmenu ul {
        width: 100%;
        display: none;
    }
    #cssmenu.align-center > ul {
        text-align: left;
    }
    #cssmenu ul li {
        width: 100%;
        border-top: 1px solid rgba(120, 120, 120, 0.2);
    }
    #cssmenu ul ul li,
    #cssmenu li:hover > ul > li {
        height: auto;
    }
    #cssmenu ul li a,
    #cssmenu ul ul li a {
        width: 100%;
        border-bottom: 0;
    }
    #cssmenu > ul > li {
        float: none;
    }
    #cssmenu ul ul li a {
        padding-left: 25px;
    }
    #cssmenu ul ul ul li a {
        padding-left: 35px;
    }
    #cssmenu ul ul li a {
        color: #dddddd;
        background: none;
    }
    #cssmenu ul ul li:hover > a,
    #cssmenu ul ul li.active > a {
        color: #ffffff;
    }
    #cssmenu ul ul,
    #cssmenu ul ul ul,
    #cssmenu.align-right ul ul {
        position: relative;
        left: 0;
        width: 100%;
        margin: 0;
        text-align: left;
    }
    #cssmenu > ul > li.has-sub > a:after,
    #cssmenu > ul > li.has-sub > a:before,
    #cssmenu ul ul > li.has-sub > a:after,
    #cssmenu ul ul > li.has-sub > a:before {
        display: none;
    }
    #cssmenu .submenu-button {
        position: absolute;
        z-index: 99;
        right: 0;
        top: 0;
        display: block;
        height: 46px;
        width: 46px;
        cursor: pointer;
    }

    #cssmenu ul ul .submenu-button {
        height: 44px;
        width: 44px;
    }
    #cssmenu .submenu-button:after {
        position: absolute;
        top: 22px;
        right: 19px;
        width: 8px;
        height: 2px;
        display: block;
        background: #dddddd;
        content: '';
    }
    #cssmenu ul ul .submenu-button:after {
        top: 21px;
        right: 18px;
    }
    #cssmenu .submenu-button.submenu-opened:after {
        background: #ffffff;
    }
    #cssmenu .submenu-button:before {
        position: absolute;
        top: 19px;
        right: 22px;
        display: block;
        width: 2px;
        height: 8px;
        background: #dddddd;
        content: '+';
    }
    #cssmenu ul ul .submenu-button:before {
        top: 18px;
        right: 21px;
    }
    #cssmenu .submenu-button.submenu-opened:before {
        display: none;
    }
}
/* end top menu */







.header__search{
    max-width: 198px;
    border-bottom: 0.5px solid #8c8c8c;
}
.header__search label{
    display: none;
}
.header__search form{
    display: flex;
}
.header__search .search-field{
    width: 100%;
    background: none;
    border: 0;
    color: #ffffff;
}
.header__search .search-field::-webkit-input-placeholder { /* WebKit, Blink, Edge */
    color:    #ffffff;
    opacity: 0.5;
}
.header__search .search-field:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    color:    #ffffff;
    opacity: 0.5;
}
.header__search .search-field::-moz-placeholder { /* Mozilla Firefox 19+ */
    color:    #ffffff;
    opacity: 0.5;
}
.header__search .search-field:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color:    #ffffff;
    opacity: 0.5;
}
.header__search .search-field::-ms-input-placeholder { /* Microsoft Edge */
    color:    #ffffff;
    opacity: 0.5;
}

.header__search .search-field::placeholder { /* Most modern browsers support this now. */
    color:    #ffffff;
    opacity: 0.5;
}
.header__search .search-field:focus{
    outline:none;
}
.header__search input[type="submit"] {
    width:  23px;
    height: 20px;
    margin-top: -8px;
    padding:0;
    border: 0;
    background: transparent url('images/icons/icon-search.svg') no-repeat center top;
    fill: #F0C76C;
    cursor: pointer;

}
.header__mobile__phone{
    display: none;
}
/* Menu bar
****************************/
.mobile-menu-info{
    display: none;
}
.ico-mobil-menu{
    display: none;
}
.bar1, .bar2, .bar3 {
    width: 35px;
    height: 3px;
    background-color:  #F0C76C;
    margin: 6px 0;
    transition: 0.4s;
}
.change .bar1 {
    -webkit-transform: rotate(-45deg) translate(-8px, 6px);
    transform: rotate(-45deg) translate(-8px, 6px);
}
.change .bar2 {opacity: 0;}
.change .bar3 {
    -webkit-transform: rotate(45deg) translate(-6px, -6px);
    transform: rotate(45deg) translate(-6px, -6px);
}
.top__menu > ul:nth-child(2){
		display:none;
}
@media (max-width: 1024px) {
    .header__inner{
        padding: 12px 0;
    }
    .header__logo{
        display: none;
    }
    .header__social{
        display: none;
    }
    .mobile-menu-info .header__social{
        display: flex;
    }
    .header__contact{
        margin-bottom: 5px;
    }
    .header__contact > a,
    .header__contact > span
    {
        font-size: 16px;
    }
    .header__mobile__logo{
        display: flex;
    }
    .ico-mobil-menu {
        display: flex;
        align-items: center;
        width: 152px;
        font-size: 36px;
        color: #343230;
        text-align: left;
        cursor: pointer;
    }
    .header__nav,
	.top__menu{
        display: flex;
    }
    .header__nav  .top__menu{
        display: none;
        position: absolute;
        left: 0;
        width: 100%;
        top: 30px;
        background-color: #343230;
        z-index: 2;
        padding-top: 100px;
		flex-direction: column;
    }
    .ico-mobil-menu.change {
        z-index: 3;
    }
    .top__menu > ul {
        flex-direction: column;
		margin:0;
    }
	.top__menu > ul:nth-child(2){
		display:flex;
		margin-bottom:20px;
	}
    .header__nav ul li{
        padding: 10px 0;
        padding-left: 15px;
    }


}
@media (max-width: 768px) {
    header .container{
        position: relative;
    }
    .header__contact{
        display: none;
    }
    .header__search{
        display: none;
        z-index: 3;
        position: absolute;
        left: calc(100% - 210px);
        top: 36px;
    }
    .header__mobile__phone{
        display: flex;
    }
    .ico-mobil-menu {
        width: unset;
    }
    .header__nav .top__menu{
        top: 0;
        padding-top: 65px;
        margin: 0;
    }
    .mobile-menu-info{
        display: flex;
        align-items: center;
    }
    .mobile-menu-info span{
        display: flex;
        color: #ffffff;
        opacity: .7;
        align-items: center;
        padding-left: 10px;
    }
}

/* Footer
****************************/
footer {
    padding: 100px 0;
}
footer *{
    font-size: 18px;
    color: #FFFFFF;
    text-decoration: none;
}
footer .container div{
    display: flex;
}
footer .social__icon{
    display: block;
    transition: fill .1s linear;
    fill: #F0C76C;
}
.footer__left{
    flex-flow: row wrap;
    align-content: space-between;
}
.footer__right{
    width: 100%;
    flex-direction: column;
}
.footer__left > div{
    flex: 0 1 100%;
}
.footer__right > div{
    justify-content: space-between;
}
.footer__second{
    justify-content: flex-end;
    margin-top: 50px;
}

.widget__logo img{
    width: 166px;
    height: 106px;
}
.widget__social .social__icon {
    height: 53px;
    width: 53px;
}

.widget__contact{
    order: 2;
    flex-direction: column;
}
.widget__contact > a, .widget__contact > span {
    display: flex;
    align-items: center;
}
.widget__contact > a svg,
.widget__contact > span svg{
    margin-right: 10px;
}
.widget__contact > *{
    margin-bottom: 24px;
}
.widget__contact .social__icon {
    height: 22px;
    width: 22px;
}
.widget__social a:nth-child(2){
    margin: 0 15px;
}

.widget__menu{
    flex: 1;
    justify-content: center;
}
.widget__menu ul{
    margin: 0;
    padding: 0;
    -webkit-column-count: 2;
    -moz-column-count: 2;
    column-count: 2;
    width: 100%;

}
.widget__menu ul li{
    padding-bottom: 15px;
    list-style-type: none;
}
/* Ninja form */
.nf-response-msg{
    color:green !important;
    font-weight: 500;
}
.nf-before-form-content,
.nf-after-form-content,
.nf-field-label{
    display: none !important;
}
.widget__callback .nf-form-content button,
.widget__callback .nf-form-content input[type=button],
.widget__callback .nf-form-content input[type=submit]{
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    color: #333333;
    background: linear-gradient(
            180deg, #F0C76C 26.36%, #EBAC21 145.45%);
}
#contact_form_pop.widget__callback .nf-form-content input[type=submit]{
    max-width: 335px;
}
.widget__callback .nf-form-content button:hover,
.widget__callback .nf-form-content input[type=button]:hover,
.widget__callback .nf-form-content input[type=submit]:hover{
    background: linear-gradient(
            180deg, #F0C76C 26.36%, #EBAC21 145.45%);
    box-shadow: 0px 4px 25px rgb(240 199 108 / 70%);
}
.widget__callback .nf-form-content input[type=button]:active,
.widget__callback .nf-form-content input[type=button]:focus,
.widget__callback .nf-form-content input[type=button]:visited,
.widget__callback .nf-form-content input[type=submit]:focus,
.widget__callback .nf-form-content input[type=submit]:active,
.widget__callback .nf-form-content input[type=submit]:visited,
.widget__callback .nf-form-content button:focus,
.widget__callback .nf-form-content button:active,
.widget__callback .nf-form-content button:visited {
    background: #FFD882;
}
.widget__callback .nf-form-wrap.ninja-forms-form-wrap,
.widget__callback .nf-form-layout{
    width: 100%;
}
.widget__callback .nf-form-wrap.ninja-forms-form-wrap{
    flex-direction: column;
}
.widget__callback .nf-form-content{
    width: 100%;
    max-width: 100%;
    padding: 0;
}
.widget__callback nf-fields-wrap{
    display: flex;
    width: 100%;
}
.widget__callback .field-wrap{
    width: 100%;
}
nf-field{
    width: 100%;
}
nf-field:last-child,
nf-field:nth-last-child(2){
    display: none;
}
.nf-field-container{
    display: flex;
    flex-direction: column;
}
.widget__callback nf-fields-wrap nf-field:nth-child(2){
    padding-left: 15px;
    padding-right: 15px;
}
.widget__callback .nf-form-content .ninja-forms-field{
    width: 100%;
}
.widget__callback .nf-form-layout form > div{
    height: 100%;
}
.widget__callback  #ninja_forms_required_items, .widget__callback  .nf-field-container{
    margin-bottom: 0;
}
.widget__callback .nf-response-msg p{
    margin-right: 10px;
}
@media (max-width: 768px) {
    .widget__callback nf-fields-wrap nf-field:nth-child(2){
        padding:0;
    }
    .widget__callback nf-fields-wrap{
        flex-direction: column;
    }
    nf-field{
        margin-bottom: 10px;
    }
}
/* END Ninja form */
.widget__callback {
    margin-top: 65px;
    flex-direction: column;
}
.widget__callback *{
    font-weight: 500;
}
.widget__callback span{
    font-size: 24px;
    line-height: 130%;
}
.widget__callback input{
    width: 100%;
    font-size: 16px;
    padding-left: 20px;
	color: #171717;
}
.widget__callback [type="submit"]{
    width: 100%;
    font-size: 18px;
    background: linear-gradient(180deg, #F0C76C 26.36%, #EBAC21 145.45%);
    transition: background 0.2s linear;
    transition: box-shadow 0.2s linear ;
    border: 0;
}
.widget__callback form{
    display: flex;
    justify-content: flex-start;
    margin-bottom: 0;
    margin-top: 20px;
    width: 100%;
}

.widget__callback form > div{
    width: 100%;
    height: 55px;
    margin-bottom: 0;
    display: flex;
}
form .form-item.field-middle{
    padding-left: 15px;
    padding-right: 15px;
}
form .form-item > span{
    width: 100%;
}
form .form-item .ajax-loader{
    display: none !important;
}
.widget__copyright{
    width: 81.6%;
    justify-content: space-between;
}
@media (max-width: 1024px) {
    .footer__first{
        position: relative;
        padding-bottom: 120px;
    }
    .footer__left {
        flex-flow: column;
        width: 50%;
    }
    .footer__right > div{
        flex-direction: column;
    }
    .widget__menu{
        order: 3;
    }
    .widget__callback{
        width: 100%;
        position: absolute;
        bottom: 0;
        left: 0;
    }
    .widget__copyright {
        width: 100%;
    }
}
@media (max-width: 768px) {
    .footer__first{
        flex-direction: column;
        align-items: center;
    }
    .footer__first {
        padding-bottom: 0;
    }
    .footer__second {
        margin-top: 35px;
    }
    .footer__left{
        align-items: center;
    }
    .widget__callback{
        position: initial;
    }
    .widget__contact{
        margin: 35px;
    }
    .widget__social{
        margin-top: 45px;
    }
    .widget__menu{
        margin: 0 35px;
    }
    .widget__callback {
        margin-top: 35px;
    }
    .widget__callback{
        padding: 0 35px;
        text-align: center;
    }
    .widget__callback form{
        flex-direction: column;
    }
    .widget__callback form .form-item.field-middle {
        padding-left: 0px;
        padding-right: 0px;
    }
    .widget__callback form > div {
        margin-bottom: 10px;
    }
    .widget__copyright{
        flex-direction: column;
        text-align: center;
    }
    .widget__copyright span{
        padding-bottom: 10px;
    }
}
/* Top Banner
****************************/
.top__banner{
    background: linear-gradient(277deg, #47413C 4.31%, rgba(204, 196, 186, 0.76) 95.17%);
}
.top__banner .container{
    position: relative;
}
.top__banner__inner{
    display: flex;
    align-items: center;
}
.top__banner__img{
    width: 80%;
}
.top__banner__img img{
    width: 100%;
    height: 100%;
}
.top__banner__text{
    position: absolute;
    right: 0;
    display: flex;
    width: 50%;
    align-items: center;
    justify-content: center;
    top: 0;
    bottom: 0;
}
.top__banner__text h1{
    font-family: 'Playfair Display', serif;
    font-size: 60px;
    line-height: 140%;
    color: #FFFFFF;
    margin: 0;
}
.top__banner__text > div > span{
    font-size: 25px;
    color: #ffffff;
    margin: 20px 0;
    display: flex;
    justify-content: flex-end;
}
.container.top__banner{
    padding: 0;
}
.container.top__callback{
    padding: 0px;
    position: relative;
}
.top__banner__callback{
    width: 100%;
    background: #F0C76C;
    padding: 40px;
    margin-top: -50px;
}
.top__banner__callback .widget__callback{
    margin-top: 0;

}
.top__banner__callback .widget__callback [type="submit"],
.top__banner__callback .widget__callback .nf-form-content input[type=button]{
    background: #343230;
    color: #FFFFFF;

}
.top__banner__callback .widget__callback .nf-form-content input[type=button]:hover{
    background: #343230;
    box-shadow: 0px 4px 13px rgba(0, 0, 0, 0.5);
}
.top__banner__callback .widget__callback input{
    line-height: 52px;
}
.widget__callback span{
    font-size: 22px;
}
.widget__callback .form-item span{
    display: flex;
}
@media (max-width: 1200px) {
    .top__banner__text {
        right: 10px;
        top: 0;
    }
    .top__banner__text h1{
        font-size: 50px;
    }
    .top__banner__text > div > span{
        font-size: 22px;
    }
    .top__banner__callback{
        padding: 20px;
    }
    .top__banner__callback .widget__callback{
        text-align: center;
    }
    .top__banner__callback .widget__callback span {
        font-size: 20px;
    }
}
@media (max-width: 1024px) {
    .top__banner__img{
        width: 80%;
        margin-left: -150px;
    }
    .top__banner__text{
        width: 60%;
    }
    .top__banner__text h1{
        font-size: 45px;
    }
    .top__banner__text > div > span{
        font-size: 18px;
    }
    .top__banner__callback .widget__callback{
        position: initial;
    }
}
@media (max-width: 768px) {
    .top__banner .container {
        position: relative;
        overflow: hidden;
    }
    .top__banner__inner {
        height: 590px;
    }
    .top__banner {
        background: linear-gradient(280.94deg, rgba(71, 65, 60, 0.96) 0%, rgba(192, 191, 189, 0.78) 135.48%);
    }
    .top__banner__img {
        z-index: 1;
        margin-left: -200px;
        position: absolute;
        overflow: hidden;
        width: 200%;
    }
    .top__banner__img img {
        width: auto;
        height: 590px;
    }
    .top__banner__text {
        width: 100%;
        text-align: center;
        position: initial;
        margin-top: 250px;
        background: linear-gradient(
                280.94deg, rgba(71, 65, 60, 0.96) 0%, rgba(192, 191, 189, 0.78) 135.48%);
        z-index: 2;
    }
    .top__banner__text h1{
        font-size: 32px;
    }
    .top__banner__text > div > span{
        font-size: 16px;
        padding-right: 10px;
    }
    .top__banner__callback .widget__callback span {
        font-size: 18px;
    }
    .top__banner__callback {
        top: unset;
        position: initial;
    }
    .top__banner__callback .widget__callback {
        padding: 0 0px;
    }
    .container.top__callback{
        padding: 0 10px;
    }
}
/* Contacts main
****************************/
section.contacts{
    background: rgba(204, 196, 186, 0.6);
    display: flex;
    position: relative;
    margin-top: 120px;
}
.contacts__img{
    display: flex;
    flex: 1;
}
.contacts__img img{
    display: flex;
    height: 100%;
    width: 100%;
}
.contacts__inner{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 10px 0 45px;
    flex: 2;
}
.contacts__text{
    display: flex;
    flex-direction: column;
}
.contacts__text h2{
    font-family: 'Playfair Display', serif;
    font-size: 60px;
    line-height: 80px;
    font-weight: 400;
    color: #171717;
}
.contacts__info{
    flex-wrap: wrap;
}
.contacts__info > a,
.contacts__info > span{
    font-size: 18px;
    line-height: 22px;
    color: #171717;
    margin-right: 20px;
    padding-bottom: 10px;
}
.contacts__info .social__icon{
    fill: #343230;
}

@media (max-width: 1024px) {
    section.contacts {
        padding-bottom: 240px;
    }
    .contacts .widget__callback{
        padding:0 25px;
        bottom: 100px;
    }
}
@media (max-width: 768px) {

    section.contacts {
        padding-bottom: 0px;
        flex-direction: column;
    }
    .contacts__inner {
        padding: 0 10px;
    }
    .contacts__info{
        flex-direction: column;
        align-items: flex-start;
        padding: 0 25px;
    }
    .contacts__text h2{
        text-align: center;
    }
    .contacts__img {
        order: 2;
        margin-top: 25px;
    }
    .contacts__text {
        margin-top: 40px;
    }
}
/* Sections page
****************************/
section.section__fluid{
    background: rgba(204, 196, 186, 0.6);
    margin-top: 120px;
    overflow: hidden;
}
section.section__fluid h2{
    font-size: 55px;
    line-height: 73px;
    font-family: 'Playfair Display', serif;
    color: #171717;
    font-weight: 400;
    text-align: center;
}
section.section__fluid ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    -webkit-column-count: 2;
    -moz-column-count: 2;
    column-count: 2;
    width: 100%;
}
section.section__fluid ul li,
section.section__fluid ul li a{
    font-size: 23px;
    line-height: 31px;
    font-family: 'Playfair Display', serif;
    font-weight: 400;
    color: #171717;
    padding: 9px 0;
    border-bottom: 1px solid #ECECEC;
    margin-right: 55px;
    text-decoration:none;
}
section.section__fluid ul li a{
    border-bottom:none;
}
.section__fluid{
    padding: 90px 0 90px 10%;
}
.section__fluid.first{
    padding-bottom: 0;
}
.section__inner{
    display: flex;
}
.section__fluid.second .section__inner{
    justify-content: space-between;
}
.section__fluid .section__img{
    display: flex;
}
.section__fluid.first .section__img{
    justify-content: flex-end;
    flex: 2;
}
.section__img img{
    width: auto;
    height: 100%;
}

.section__fluid.second ul{
    -webkit-column-count: 1;
    -moz-column-count: 1;
    column-count: 1;
}
.section__fluid.second{
    padding: 90px 10% 90px 0;
}
.section__fluid.second .section__img{
    justify-content: flex-start;
}
.section__fluid.second .section__info{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.section__fluid.second h2{
    margin-top: 0;
}
.section__fluid.second ul li{
    margin-right: 0;
    margin-left: 55px;
}
.section__fluid.second .section__img img{
    width: 100%;
    height: 100%;
}
section.third{
    margin-top: 40px;
}
section.third .section__inner{
    flex-direction: column;
}
section.third h2,
section.forth h2,
section.options h2,
.blog h2,
.service h2,
.team h2,
.partner h2{
    font-family: 'Playfair Display', serif;
    text-align: center;
    font-size: 60px;
    line-height: 80px;
    color: #343230;
    font-weight: 400;
    margin: 0 0 20px;
}
.section__posts{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.post__info{
    display: flex;
    position: relative;
    width: 49.5%;
}
.post__info img{
    width: 100%;
    height: 100%;
}
.post__info .post__title{
    display: flex;
    justify-content: space-between;
    background: #343230;
    transition: background 0.2s linear;
    transition: box-shadow 0.2s linear;
    padding: 20px 30px;
    position: absolute;
    bottom: 0;
    left: 0;
    min-width: 50%;
    align-items: center;
}
.post__info .post__title:hover{
    box-shadow: 0px 4px 13px rgba(0, 0, 0, 0.5);
}
.post__info .post__title:focus,
.post__info .post__title:active,
.post__info .post__title:visited
{
    background: #FFFFFF;
    border: 1px solid #000000;
    box-sizing: border-box;
    box-shadow: 0px 4px 13px rgba(0, 0, 0, 0.5);
}
.post__info .post__title:focus span,
.post__info .post__title:active span,
.post__info .post__title:visited span{
    color: #171717;
}
.post__info .post__title:focus .simple__icon,
.post__info .post__title:active .simple__icon,
.post__info .post__title:visited .simple__icon{
    fill: #171717;
}
.post__title span{
    font-weight: 500;
    font-size: 25px;
    line-height: 30px;
    color: #FFFFFF;
}
.simple__icon{
    width: 67px;
    height: 16px;
    fill: #ffffff;
    transition: fill 0.2s linear;
    padding-left: 10px;
}
section.forth{
    position: relative;
    background: rgba(71, 65, 60, 0.46);
    margin-top: 100px;
    height: 498px;
    overflow: hidden;
}
section.forth .container{
    display: flex;
    align-items: center;
    height: 100%;
}
section.forth .section__img{
    position: absolute;
    right: 0;
    top: 0;
    width: 90%;
    text-align: right;
}
section.forth h2{
    text-align: left;
    margin: 0;
    color: #FFFFFF;

}
section.forth .widget__callback{
    margin-top: 0;
}
section.forth .section__inner{
    flex-direction: column;
    width: 65%;
}
section.forth .widget__callback > span{
    margin: 20px 0 45px;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    color: #FFFFFF;
    display: flex;
}
.section__form{
    z-index: 9;
}
section.forth .widget__callback{
    position: initial;
}
/* Section Blog
******************************/
.blog{
    margin-top: 40px;
}
.blog .container{
    flex-direction: column;
}
.blog h2{

}
.blog__inner{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.item__blog{
    display: flex;
    flex-direction: column;
    margin-bottom: 25px;
    width: 24%;
}
.item__blog img{
    margin-bottom: 15px;
}
.blog__date{
    margin-bottom: 20px;
}
.blog__date span{
    font-family: Playfair Display;
    font-weight: 400;
    font-size: 16px;
    line-height: 21px;
    color: #A6A6A6;

}
.blog__title a{
    text-decoration: none;
    color: #171717;
}
.blog__title a:hover{
    text-decoration: underline;
}
.blog__title h3{
    font-family: Playfair Display;
    font-weight: 400;
    font-size: 24px;
    line-height: 32px;
    color: #171717;
    margin: 0;
}
.blog__title{
    margin-bottom: 15px;
}
.blog__text span{
    font-size: 16px;
    line-height: 130%;
    color: #333333;
}
.more__button{
    display: flex;
    justify-content: center;
    align-items: center;
}
.more__button a{
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    color: #171717;
    background: linear-gradient(180deg, #F0C76C 26.36%, #EBAC21 145.45%);
    transition: background 0.2s linear;
    transition: box-shadow 0.2s linear ;
    padding: 17px 75px;
    text-decoration: none;
}
/* Section Service
*****************************/
section.service{
    margin-top: 40px;
}
.service h2{
    text-align: left;
}
.service_inner{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.service__block{
    display: flex;
    flex-direction: column;
    width: 24%;
    margin-bottom: 20px;
}

.service__block img,
.service__block .img__link{
    height: 100%;
    width: 100%;
    object-fit: cover;
}
.service__block.text__block{
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 48%;
}
.service__block.text__block span{
    font-family: Playfair Display;
    font-style: normal;
    font-weight: normal;
    font-size: 48px;
    line-height: 130%;
    color: #171717;
}
.service__block a{
    text-decoration: none;
    margin: 0;
    padding: 0;
}
.service__block div{
    width: 100%;
    background: #343230;
    transition: background 0.2s linear;
    transition: box-shadow 0.2s linear;
    height: 78px;
    display: flex;
    padding-left: 15px;
    padding-right: 15px;
    justify-content: flex-start;
    align-items: center;
}
.service__block div:hover{
    background: #343230;
    box-shadow: 0px 4px 13px rgba(0, 0, 0, 0.5);
}
.service__block div:focus,
.service__block div:active,
.service__block div:visited{
    background: #FFFFFF;
    border: 1px solid #000000;
}
.service__block span{
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    color: #FFFFFF;
}
.service__block div:focus span,
.service__block div:active span,
.service__block div:visited span{
    color: #343230;
}

.service .more__button{
    display: none;
}
/* Section Options
******************************/
section.options{
    background: rgba(71, 65, 60, 0.81);
    margin-top: 40px;
    padding: 100px 0 125px;
    position: relative;
    overflow: hidden;
    min-height: 775px;
}
section.options .section__inner{
    flex-direction: column;
    width: 55%;
}
section.options h2{
    text-align: left;
    color: #ffffff;
}
.options ul  {
    margin:20px;
    list-style:none;
}
.options li ul li,
.options li a {
    padding: 7px 10px;
    display:block;
    font-family: Playfair Display;
    font-style: normal;
    font-weight: normal;
    font-size: 25px;
    line-height: 33px;
    color: #FFFFFF;
    text-decoration:none;
}
.options ul div{
    display:none;

}
.options ul div p{
    margin: 0;
    padding-left: 60px;
    color: #ffffff;
    font-size: 18px;
    line-height: 24px;
}
.options ul ul  {
    margin:0;
    column-fill: auto;
    columns: 2;
}
.options ul ul a,
.options ul ul li{
    padding: 4px 20px;
    font-size: 18px;
    line-height: 24px;
}

.options ul li.active > a:before {
    content:'';
    display:inline-block;
    height:9px;
    width:38px;
    background-image:url('images/icons/icon-arrow-next-gold.svg');
    background-size:contain;
    background-repeat:no-repeat;
    padding-left: 2em;
}
.options ul li.active > a{
    color: #F0C76C;
    display: inline-flex;
    align-items: center;
}
section.options .section__img{
    position: absolute;
    right: 0;
    bottom: 0;
    width: 65%;
    text-align: right;
    height: 100%;
}
section.options .section__img div{
    height: 100%;
}

@media (max-width: 1024px) {

    .section__inner {
        flex-direction: column;
    }
    .section__fluid.second .section__inner {
        position: relative;
        padding-bottom: 300px;
    }
    .section__fluid {
        padding: 60px 0 0;
    }
    .section__info{
        padding: 0 5%;
    }
    .section__fluid.second .section__info {
        padding: 0;
        width: 50%;
    }
    .section__fluid.second ul li{
        margin-left: 0;
    }
    .section__fluid.second {
        padding: 90px 0 90px 20px;
    }
    .section__fluid.first .section__img{
        margin-top:35px;
    }
    .section__fluid.second .section__img {
        position: absolute;
        bottom: 0px;
    }
    .section__fluid.second .section__img img{
        -webkit-transform: scaleX(-1);
        transform: scaleX(-1);
    }
    section.forth .section__inner {
        width: 100%;
    }
    section.forth .section__img{
        z-index: -1;
    }
    section.third h2,
    section.forth h2,
    .blog h2,
    .service h2,
    .team h2{
        font-size: 45px;
        line-height: 60px;
    }
    .widget__callback > span{
        font-size: 16px;
        line-height: 20px;
    }
    .item__blog:nth-child(3),
    .item__blog:nth-child(4){
        display: none;
    }
    .item__blog {
        width: 49%;
    }
    .service__block,
    .service__block.text__block {
        width: 49%;
    }
    .service__block.text__block span{
        font-size: 30px;
        line-height: 130%;
        color: #171717;
    }
    section.options .section__img {
        right: -50px;
        bottom: 0;
        width: 85%;
        text-align: right;
        height: 100%;
    }
    .options ul ul {
        columns: 1;
    }
}

@media (max-width: 768px) {
    .section__fluid.second {
        padding: 50px 0 50px 20px;
    }
    .section__fluid.second .section__info {
        width: 70%;
    }
    section.section__fluid ul{
        -webkit-column-count: 1;
        -moz-column-count: 1;
        column-count: 1;
    }
    .section__img img{
        width: 100%;
        height: 100%;
    }
    section.section__fluid h2{
        font-size: 30px;
        line-height: 40px;
    }
    section.section__fluid ul li{
        font-size: 16px;
        line-height: 21px;
    }
    .section__fluid.second .section__inner {
        padding-bottom: 200px;
    }
    .section__posts {
        flex-direction: column;
        align-items: center;
    }
    .post__info{
        width: 100%;
        margin-bottom: 20px;
    }
    section.forth h2,
    .blog h2,
    .service h2,
    section.options h2,
    .team h2,
    .partner h2{
        font-size: 30px;
        line-height: 130%;
        text-align: center;
    }
    section.forth .widget__callback{
        padding: 0 25px;
    }
    section.forth .widget__callback > span{
        font-size: 16px;
        line-height: 130%;
    }
    section.forth .section__img img {
        width: auto;
    }
    .blog__inner{
        flex-direction: column;
    }
    .item__blog {
        width: 100%;
    }
    .item__blog img{
        margin-bottom: 15px;
    }
    .blog__date{
        margin-bottom: 10px;
    }
    .blog__title{
        margin-bottom: 8px;
    }
    .more__button a{
        padding: 17px 35px;
    }
    .service .more__button{
        display: flex;
    }
    .service__block,
    .service__block.text__block {
        width: 100%;
    }
    .service .service__block:nth-child(n+5){
        display: none;
    }
    .service__block span{
        font-size: 18px;
    }
    .service__block.text__block span{
        font-size: 20px;
        line-height: 130%;
        color: #171717;
    }
    section.options {
        padding: 60px 20px 90px 0;
        min-height: 615px;
    }
    section.options .section__img {
        z-index: -1;
    }
    section.options .section__inner {
        width: 100%;
    }
    .options li a{
        font-size: 20px;
        line-height: 27px;
    }
    .options ul ul a,
    .options ul div,
    .options ul div p{
        font-size: 16px;
        line-height: 21px;
    }
    section.options .section__img {
        right: 0px;
        bottom: 0;
        width: 100%;
        height: 100%;
    }
    section.options .section__img div {
        height: 100%;
    }
    section.options .section__img img {
        width: auto;
        height: 100%;
    }
}
/* Team slider
*****************************/
section.team{
    margin-top: 40px;
    position: relative;
}
.team__inner{
    display: flex;
    justify-content: space-between;
}
.team__item{
    display: flex !important;
    flex-direction: column;
    background: #FFFFFF;
    box-shadow: 0px 4px 25px rgba(188, 178, 169, 0.25);
    margin: 0 20px 20px;
}

.team__info{
    padding: 30px;
}
.team__info h3,
.team__info h3 a{
    font-weight: 500;
    font-size: 24px;
    line-height: 29px;
    color: #171717;
}
.team__info h3 a{
	text-decoration:none;
	
}
.team__info h3 a:hover{
	text-decoration: underline;
}
.team__info span{
    font-size: 16px;
    line-height: 20px;
    color: #686868;
}
.team h2{
    text-align: left;
    padding-top: 65px;
}
.team__img{
    height: 560px;
	background:none;
	transition:background 0.2s linear;
	position:relative;
}
.team__img:hover:after{
	content:"Erfahren Sie mehr...";
	position:absolute;
	top: 50%;  
    left: 50%; 
	width:100%;
    transform: translate(-50%, -50%);
	text-align: center;
	font-weight: 500;
	font-size: 30px;
	line-height: 37px;
	color: #171717;
}

.team__img:hover{
	background: rgba(240, 199, 108, 0.8);
	
}
.team__img img{
    object-fit: cover;
    width: 100%;
    height: 100%;
	opacity:1;
	transition:opacity 0.2s linear;
}
.team__img:hover img{
	opacity:0.5 !important;
	
}
.team__background{
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    background: #F0C76C;
    width: 80%;
    height: 580px;
}
.slider__nav{
    display: flex;
    justify-content: flex-end;
}
.slider__arrows{
    display: flex;
}
.slider__arrow{
    display:flex;
    justify-content: center;
    align-items: center;
    width:34px;
    height:34px;
    background-color:#ffffff;
    transition: background-color .1s linear;
    cursor:pointer;
    border: 1px solid #ADADAD;
}
.slider__arrow svg{
    display: block;
    height: 9px;
    width: 10px;
    transition: fill .1s linear;
    fill: #000000;
}
.slider__arrow:hover{
    background-color: #343230;
}
.slider__arrow:hover svg{
    fill: #ffffff;
}
.slider__count{
    margin-right: 20px;
    display: flex;
    align-items: center;
}
.slider__count span{
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    color: #151515;
}
.slider__count span.slider__count__current{
    color: #F0C76C;
}

.slick-dots {
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 10px 0;
    list-style-type: none;
    position: absolute;
    bottom: 0;
    width: 100%;
}
.slick-dots li {
    margin: 0 0.25rem;
}
.slick-dots button {
    display: block;
    width: 10px;
    height: 10px;
    padding: 0;
    border: none;
    border-radius: 100%;
    background-color: #ECE7E4;
    text-indent: -9999px;
}
.slick-dots li.slick-active button,
section.partner .slick-dots li.slick-active button
{
    background-color: #F0C76C;
}
@media (max-width: 1024px) {

    .team .container{
        padding-right: 0;
    }
    .slick-list{padding:0 40% 0 0 !important;}
    .team__background{
        width: 100%;
    }
    .slider__nav{
        margin-right: 20px;
    }
}
@media (max-width: 768px) {
    .team .container{
        padding-right: 10px;
    }
    .team h2{
        padding-top: 60px;
    }
    .slick-list{
        padding:unset !important;
    }
    .slider__nav{
        display: none;
    }
    .team__inner{
        padding-bottom: 50px;
    }
    .team__img {
        height: 340px;
    }
    .team__background{
        width: 80%;
        height: 390px;
    }
    .slider__nav{
        margin-right: 0px;
    }

}

/* Partner slider
***************************/
section.partner{
    display: flex;
    background: rgba(204, 196, 186, 0.6);
    margin-top: 40px;
    padding: 100px 0;
}
.partner__inner{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding-bottom: 40px;
}
.partner__item{
    display:flex;
    justify-content: center;
    align-items: center;
    flex: 1 1 25%;
    padding: 15px 0;
}
.partner__item a{
    display:flex;
    justify-content: center;
    align-items: center;
}
.partner__item a:hover{
    background: #F0C76C;
}
.partner__item img{

}
section.partner .slick-dots button {
    background-color: #FFFFFF;
}
.partner .slick-list{padding:0 20% 0 0 !important;}
@media (max-width: 768px) {
    section.partner{
        padding: 60px 0;
    }
    .partner .slick-list{
        padding:unset !important;
    }
}
/* Category template
**********************/
.category__list .blog__inner {
   /* align-items: center;*/
    justify-content: space-around;
}
.category__list .item__blog img {
    height: 230px;
    object-fit: cover;
    width: 100%;
}
